:hover.butStart{
    text-decoration:none;
    color:black;
}
@media(min-width:1200px){

    :hover.contact-button{
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 4px 4px 12px rgba(226, 158, 0, 0.48);
    }
    :hover.github-button{
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 4px 4px 12px rgba(226, 158, 0, 0.48);
    }
    :hover.butStart{
        height: 4em;
        box-shadow: 4px 4px 12px rgba(226, 158, 0, 0.48);
        cursor: pointer;
        border-radius:12px;
    }


:hover.hoverHei{
    text-decoration: underline white;
    cursor: pointer;
    font-size: 20px;
    color:white;
}
:hover#kvad{
    cursor: pointer;
    box-shadow: 0px 0px 34px rgb(12, 199, 199);
    border-radius: 32px;
}
:hover.hoveImg{
    box-shadow: 0px 0px 0px 7px #686868;
    filter: brightness(115%);
    cursor: pointer;
}
:hover.circle{
    cursor: pointer;
    box-shadow: 0px 2px 14px yellow;
}
:hover.more{
    cursor: pointer;
    text-shadow: 0px 2px 14px yellow;
}
:hover.project{
    box-shadow: 0px 2px 28px #686868;
    border-width: 9px;
    cursor: pointer;
}
:hover.hovFoot{
    cursor: pointer;
    text-decoration: underline white;
    font-size: 19px;
    color:white;
}
}
