*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: NEXT ART; /* Гарнитура шрифта */
    src: url('NEXTART_Bold.otf'); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Arodora Pro; /* Гарнитура шрифта */
    src: url('ArodoraPro-Light.otf'); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family:Nico Moji;  /* Гарнитура шрифта */
    src: url('NicoMoji-Regular.ttf'); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family:Abel;  /* Гарнитура шрифта */
    src: url('Abel-Regular.ttf'); /* Путь к файлу со шрифтом */
   }
body{
    margin-right: 0%;
    /* background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%); */
}


.android{
    padding-top: 6%;
    
}
.clown{
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}
.contact-button{
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
    height: 5em;
    font-family: NEXT ART;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 15px;
    border-style: none;
    flex-grow: 1;
}
.fixmore{
    text-decoration: none;
}

.fixmore:hover{
    text-decoration: none;
    color: yellow;
}

.github-button{
    border: 1px solid #F2994A;
    border-radius: 4px;
    background: none;
    margin-left: 1%;
    font-family: NEXT ART;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #F2994A;
    padding: 15px 15px;
    height: 5em;
    flex-grow:1;

}
.front{
  
 
}

.box-content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
/* body{
    overflow:hidden;
} */
.oneText{
    font-family: NEXT ART,sans-serif;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 54px;
display: flex;
align-items: center;
color: #E4E4E4;

}
.twoText{
    font-family: NEXT ART,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 82px;
display: flex;
align-items: center;



color: #E4E4E4;

}
.front{
    /* margin-top: 17%; */
    padding-top: 17%;

   /* padding-bottom: -5%; */
}
@media (min-width:1000px) {
    .photo{
        width: 60%;
    }
}
.photo{
    margin-left: 55%;
    margin-top: -40%;
    opacity: 0.6;
    
}
.name{
    margin-top: 2%;
}
.name{
    margin-top: 2%;
}
.text{
    font-family: Arodora Pro;
    font-style: normal;
    /* font-weight: 250; */
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;

    /* width: 40%; */
    color: #E4E4E4;
    z-index: 1;
}
.rowFix{
    padding-right: 0%;
    margin-left: 0%;
    margin-top: 4%;
}
.textRow{
    margin-top:4%;
}
.butStart{
    padding-left:2%;
    margin-top:4%;
    margin-left: 1%;
    height: 4em;
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
border-radius: 6px;
font-family: NEXT ART;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;

color: #000000;
}

.lolRow{

}

header{
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
  
    width: 100%;
padding-top: -1%;
padding-bottom: 1.5%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
   
}
.logo{

    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    /* margin-left: 35%; */
}
.logoTextNv{
    font-family: Nico Moji;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px; 
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.burg{
    margin-top: 3.5%;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
  
}
.TextNav{
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-decoration:none;
    color: #E4E4E4;

}
.fix{
    white-space:pre;
 
}
.main{
    padding-top: 5%;

  
}
.lol{
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    min-width: 100%;
    padding-right: 5%;
}
.back{
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    padding-bottom: 6%;
}

#kvad{
    margin-top: 5%;
 
    display: grid;
    grid-template-columns: 2f 1f;
    padding-top: 3%;
 
    margin-left: 4%;
    background: #2A2A2A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    height: 17em;
    width: 270px;
    height: 270px;
}
.twoRowKvadr{
    margin-top: 3%;
}

.textKvadr{
   
 
    font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;





color: #E4E4E4;
}
.fixText{
    margin-top: 10%;
}
.fixTextOne{
    margin-top: 15% 
}
.fixTexttwo{
    margin-top: 8% 
}
.fixImg{
    margin-top: 15%;
}
.fixUI{
    margin-top: 20%;
    margin-left: -14%;
}
.fixImgTwo{
    margin-top: 11%; 
}
.fonPhoto{

    padding-left: 1.5%;
    width:28%;
    padding-top: 2%;
 
    border-radius: 14px;
    height: 21em;
}

.about{
     margin-top: 4%; 
    padding-left: 3%;
}
.imgPhoto{
    width: 92%;
    height: 18.5em;
    
   
    box-shadow: 0px 0px 0px 4px #686868;
}
.textAbout{
    margin-top: 4%;
    padding-top: 6%;
    padding-left: 5%;
    padding-bottom: 9%;
    padding-right: 5%;
    background: #2C2C2C;
    border-radius: 14px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;

}
.aboutMe{
    font-family: NEXT ART;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 54px;
display: flex;
align-items: center;

/* text */

color: #E4E4E4;
}
.margi{
  
    margin-top: 15%;
    margin-left: 33%;
}
.fonPhotoTwo{
    margin-top:17%;
    padding-left: 1%;
    width:30%;
    padding-top: 2%;
 
    border-radius: 14px;
    height: 27.5em;
}
.imgPhotoTwo{
    height: 24.5em;
    width:96%;
   
    box-shadow: 0px 0px 0px 5px #686868;
}
.fonPhotoThree{
    margin-top: -15%;
    height: 21em;
}
.Backend{
    margin-left: -3%;
}
.portfolioFon{
    padding-bottom: 7%;
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    padding-top: 6%;
}

.title{
    margin-left: 35%;
    font-family: NEXT ART;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 54px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.portfolioMargi{
    margin-top: 9%;
}
.circle{
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    height: 6em;
    border-radius:6em;
    margin-top: 20%;
}
.portfolio{
    margin-left: 3%;
    margin-right: 3%;
    height: 35em;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
border-radius: 29px;
display: flex;
justify-content: space-between;
}
.project{
  
    margin-left: 2%;
    margin-top: 6%;
    border-style:solid;
    border-width: 7px;
    border-color: white;
    border-radius: 5px;
    height: 29em;
  
}
.projectItem{
    margin-left: 5%;
}
.projectTitle{
    margin-top: 20%;
    margin-left: 14%;
    font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.fixBackground{
    background-size:cover;
    background-position:auto;
    background-repeat:no-repeat;
}
.projectText{
    margin-top: 13%;
    font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.more{
    color: inherit;
    margin-left: 32%;
    margin-top: 12%;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
display: none;


    display: flex;
    align-items: center;

    color: #E2A100;
}
.arrow{
    width: 80%;
    margin-top: 30%;
    margin-left: 7%;

}
footer{
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}
.footer{
    padding-top: 4%;
    padding-left: 6%;
    padding-bottom: 2%;
}
.textFoot{
    text-decoration:none;
    font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
margin-top: 9%;
display: flex;
align-items: center;
color: #E4E4E4;
}
.margiText{
    margin-left: 20%;
}
.fixedFoot{
    padding-top: 1%;
}
.logoText{
    
    font-family: Nico Moji;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;

}
.kirillvasilyevCreateSite{
}
.copy{
    margin-top: 33%;
    font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;


display: flex;
align-items: center;


color: #E4E4E4;

}
@media(min-width:1000px){
   .fonPhoto{background:#2C2C2C;}
   .fonPhotoTwo{background:#2C2C2C;}
}
@media(max-width:992px){
    .margiText{
        margin-left: 12%;
    }
    .title{
        margin-left: 24%;
    }
    .projectTitle{
        font-size: 18px;
    }
    .project{
        margin-top: 9%;
        height:17em;
    }
    .projectText{
        font-size: 11px;
        line-height: 150%;
    }
    .portfolioMargi{
        margin-top:11%;
    }
    .circle{
        padding-top: 1.5%;
        height: 4em;
    }
    .portfolio{
        height: 21em;
    }
    .fonPhoto{
        margin-top: -7%;
    }
    .fonPhotoThree{
        margin-top: -20%;
    }
  .about{
  
      margin-top: 15%;
  }
    .fonPhotoTwo{
        margin-left: -5%;
    }
    .textAbout{
        opacity: 0.8;
        margin-left: -40%;
        font-size: 18px;
    }
    .imgPhotoTwo{
        height: 20em;
        display: none;
    }
    .imgPhoto{
        display: none;
        width: 92%;
        height: 11em;
    }
    .imgMd{
        margin-top: 10%;
    }
    .textKvadr{
    
    }
    .textKvadrFix{
        margin-top: -10%;
    }
    .fixTextOne{
        margin-left: 3%;
    }
 
    .fixUI{
        margin-left: -5%;
    }
    #kvad{
        height: 15em;
        margin-top: 7%;
        margin-left: 10%;
     
    }
    .fixImgTwo{
        margin-left: 13%;
    }
    .fixText{
        margin-left: 6%;
    }
    .butStart{
        z-index: 1;
        margin-top: 11%;
        margin-left: 22%;
        height: 4em;
        padding-left: 6%;
    }
    .name{
        margin-top: 7%;
    }
    .textRow{
        margin-top: 7%;
    }
    .photo{
        opacity: 0.2;
        z-index: 0;
        margin-left: -13%;
        margin-top: -105%;
    }
    .fixedMd{
        display: flex;
        padding-left: 113%;
       
    }
    .oneText{
        z-index: 1;
        font-family: NEXT ART,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 0px;
    display: flex;
    align-items: center;
    color: #E4E4E4;
    
    }
    .twoText{
        z-index: 1;
        font-family: NEXT ART,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 82px;
    display: flex;
    align-items: center;
    
    
    
    color: #E4E4E4;
    
    }
    .front{
        /* margin-top: 17%; */
        padding-top: 30%;
    
       /* padding-bottom: -5%; */
    }
}
@media(max-width:768px){

    .burg{
        margin-top: 5%;
    }
    .fixedMd{
        padding-left: 7%;
    }
    #kvad{
        margin-left: 8%;

    }
    .margi{
        margin-left: 20%;
    }
    .lolrar{
        margin-left: -11%;
    }
    .about{
        margin-top: 23%;
    }
    .imgPhoto{
        height: 16em;
        width: 170%;
    }
    .imgPhotoTwo{
        height:20em;
    }
    .fonPhotoTwo{
        margin-left: -30%;
        width: 40%;
        
    }
    .fonPhotoThree{
        height: 1%;
        margin-top: -34%;
    }
    .textAbout{
        padding-top: 6%;
        padding-bottom: 6%;
        font-size: 15px;
        line-height: 180%;
    }
    .title{
        font-size: 37px;
    }
    .Backend{
        margin-left: 10%;
    }
    .back{
        padding-bottom: 15%;
    }
    .circle{
        height:3em;
        margin-top: 25%;
    }
    .portfolio{
        height: 20em;
    }
    .project{
        margin-top: 13%;
        height: 14em;
        border-width:3px;
    }
    .projectTitle{
        font-size: 15px;
        line-height: 140%;
    }
    .projectText{
        font-size: 10px;
    }
    .more{
        font-size: 10px;
        margin-left: 44%;
        text-decoration: none;
    }
    .margiText{
        margin-left: 7%;
    }
    .footer{
        padding-left: 0%;
    }
}
@media(max-width:576px){
    .github-button{
        margin-left: 0%;
        margin-top: 5%;
        margin-bottom: 13%;
    }
    .burg{
        display: none;
    }
    .front{
      
        padding-top: 40%;
      
        
    }
    .lol{
        overflow-x: hidden;
    }
    .oneText{
        margin-top: 0%;
        font-size: 35px;
    }
    .twoText{
        margin-top: -3%;
        font-size: 43px;
        line-height: 150%;
    }
    .name{
        margin-top: 18%;
    }
    .butStart{
        margin-left: 8%;
        padding-left: 14%;
        margin-top: 18%;
    }
    .text{
        margin-top: 3%;
        font-size: 19px;
        line-height: 150%;
    }
    .photo{
        width: 185%;
        opacity: 0.2;
        margin-top: -165%;
        margin-left: -3%;
    }
    #kvad{
        margin-top: 20%;
        padding-top: 10%;
    
        margin-left: 11%;
        height: 20em;
    }
    .fixTextOne{
        margin-left: -1%;
    }
    .fixImgTwo{
        margin-left: 6%;
        width: 45%;
    }
    .Backend{
        margin-left: 10%;
    }
   .margi{
       margin-top: 27%;
       padding-bottom: 0;

   }
    .aboutMe{
        margin-left: -5%;
        font-size: 42px;
    }
    .fonPhoto{
        margin-top: -1%;
    }
    .about{
    padding-top: 18%;
    padding-bottom: 10%;
    }
   
    .textAbout{
        position: relative;
        z-index: 4;
        padding-bottom: 15%;
        
        padding-top: 10%;
        margin-top: -22%;
        margin-left: 2%;
        font-size: 17px;
    }
    .opac{
        opacity: 0.8;
        display:none;
    }
    .off{
        display: none;
    }
  .back{
      padding-bottom: 12%;
  }
  .fonPhoto{
      height: 0;
      display: none;
  }
  .fonPhotoTwo{
      height: 0;
      display: none;
  }
    .portfolioFon{
        overflow-x: hidden;
        padding-top: 17%;
    }
  
 .title{
     margin-left: 14%;
}
.circle{
    /* padding-bottom: 25%; */
    height: 4em;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-left: 17%;
    margin-left: 21%;
    border-radius:10px;
}
.arrow{

    margin-top: 10%;
    width: 30%;

}
.project{
    margin-left: 4%;
}
.portfolio{
    height:40.5em;
    display: block;
}
.projectTitle{
    width: 140%;
    /* font-size:25px; */
    font-size:150%;
   
    margin-top: 13%;
}
.projectText{
    margin-top: 6%;
    margin-left: 1%;
    font-size: 15px;
}
.portfolioMargi{
    margin-top: 19%;
}
.more{
    margin-top: 6%;
    margin-left: 44%;
    text-decoration: none;
}
.footer{
    padding-left: 13%;
    padding-bottom: 15%;
    padding-top: 13%;
}
.margiText{
    margin-left: 12%;
}
.iconAndCopy{
    margin-left: 1%;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
.textFoot{
    font-size: 16px;
}
.copy{
margin-left: 45%;
    margin-top: 0%;
    font-size: 10px;
    line-height: 170%;
}
.portfolioFon{
    padding-bottom: 30%;
}
header{
    height: 11%;
}
}
@media(min-width:576px){
  .mobile{
      display: none;
  }
}
@media(min-width:768px){
    @media(max-width:998px) {
        .lolrar{
            padding-left: 3%;
        }
        #kvad{
            /* margin-left: 10%; */
         
            height: 20em;
            margin-left: 7%;
        }
        .imgMd{
            margin-top: 20%;
        }
        .fixImg{
            margin-top: 30%;
        }
    .fixUI{
        margin-left: -6%;
    }
    .fixTextOne{
        margin-left: 0%;
    }
    .fixImgTwo{
        margin-top: 20%;
    }
    .textAbout{
        position: relative;
        padding-bottom: 14%;
        padding-top: 10%;
        z-index: 3;
        font-size: 22px;
        margin-left: -19%;
        opacity: 0.92;
    }
    .imgPhoto{
        z-index: 2;
        width: 180%;
        height: 22em;
        position: relative;
    }
    .imgPhotoTwo{
        width: 150%;
        height: 36em;
        position: relative;
        z-index: 1;
    }
    .fonPhotoTwo{
        margin-left: -52%;
    }
    .opac{
        opacity: 0.7;
    }
    .off{
        display: none;
    }
    .mobile{
        display: block;
    }
    .ok{
        width: 140%;
        height: 21em;
        margin-left: -90%;
        margin-top: -40%;
    }
    .margi{
        margin-top: 31%;
    }
    .aboutMe{
        font-size: 70px;
        margin-left: -18%;
    }
    .about{
        padding-top: -4%;
    }
    .title{
        font-size: 50px;
        margin-left: 27%;
    }
    .portfolioFon{
        padding-top: 13%;
        padding-bottom: 17%;
    }
    .portfolioMargi{
        margin-top: 14%;
    }
    .portfolio{
        height: 27em;
    }
    .circle{
        height: 4em;
    }
    .project{
        margin-top: 11%;
        height: 20em;
    }
    .projectTitle{
        margin-top: 28%;
        font-size: 24px;
        margin-left: -1%;
    }
    .projectText{
        font-size: 12px;
        margin-left: -5%;
    }
    .footer{ padding-left: 10%;
    }
   header{
       height: 9%;
   }
   .logo{
       margin-top: 4%;
   }
   .lol{
    padding-left: 10%;
   }
   .back{
       padding-bottom: 20%;
   }
   .photo{
     
   }
    }

}
